body {background-color: #273238;}
body {color: whitesmoke;}

p {font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;}
p {text-align: justify;}

h1 {font-family: Impact, Charcoal, sans-serif;font-size:  60px; font-style: italic;}
h1 {text-align: center;}
h1 {color:#698593; background-color: white;}

h2 {font-family:Arial, Gadget, sans-serif ;font-variant:small-caps;font-size: 35px; font-style: italic;}

.aspiradora {border-style: solid; border-width: 6px; border-color: #B7A594 ;}
.celular {border-style: solid; border-width: 6px; border-color:#9BBAC4 }
.consola {border-style: solid; border-width: 6px; border-color:#CFD8BC}
.home-theaters {border-style: solid; border-width: 6px; border-color:#B2C0C3}
.televisor {border-style: solid; border-width: 6px; border-color:#D8D8D8}







